body {
    margin: 1em;
    padding: 1em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
    /* text-align: center; 
    width:80%;
    margin-left:auto;
    margin-right:auto; */
  }

input[type=submit] {
  border-radius: 5px;
  font-size: 18px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 1px solid;
  padding: 5px 15px;
  cursor:pointer;
  background:#C6C6C6; 
  font: #5A55E1;
  cursor:pointer;
  text-align: center;
}

input[type=submit]:hover {
  background:#5A55E1; 
  color:white;
}

input[type=radio]:checked, legend {
  color:#5A55E1; 
}

h1 {
  text-align: center;
  text-decoration: underline;
}

.emoji {
  font-size: 15px;
}

fieldset {
  border: 3px solid #5A55E1;
  border-radius: 6px;
}

.subtitle, ul {
  text-align: center;
}

li {
  list-style-type: none
}

a {
  text-decoration: none;
  color: grey;
}

a:hover {
  color: #5A55E1;
}


table {
  border-collapse:separate;
  border:solid #5A55E1 3px;
  border-radius:6px;
}

td, th {
  border-left:solid #5A55E1 3px;
  border-top:solid #5A55E1 3px;
}

th {
  color: #5A55E1;
  border-top: none;
  padding: 12px;
  margin: 5px; 
  text-align: center;
}

tr {
  padding: 12px;
  margin: 5px; 
  text-align: center;
}

td:first-child, th:first-child {
   border-left: none;
}