<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>NFT Analysis</title>
    <link rel="stylesheet" href="./static/css/main.css">
</head>
<body>

    <h1> &#10071 Welcome to NFT Analyzer! Check top NFTs &#10071</h1>
    <p class="subtitle">Understand how the top 5 NFTs of a specific Chain + Category are performing.</p>

    <ul>
      <li><a href="/comparisons-categories"> Click here to compare 2 different categories based on their features. </a></li>
      <li><a href="/comparisons-chains"> Click here to compare 2 different chains based on their features. </a></li>
      <li><a href="/recommendations"> Click here to try some random tests and predict your new nfts. </a></li>
    </ul>
              <br>
    <form method = "POST">
        <!--<label> Chain</label>
        <input type="text" name="blockchain" id="chain">
        <br>-->

        <fieldset>
            <legend>Select a blockhain to analyse NFTs:</legend>
        
            <div>
              <input type="radio" id="eth" name="blockchain" value="Ethereum"
                     checked>
              <label for="eth">Ethereum</label>
            </div>
        
            <div>
              <input type="radio" id="sol" name="blockchain" value="Solana">
              <label for="sol">Solana</label>
            </div>
        
            <div>
              <input type="radio" id="pol" name="blockchain" value="Polygon">
              <label for="pol">Polygon</label>
            </div>

            <div>
                <input type="radio" id="klay" name="blockchain" value="Klaytn">
                <label for="klay">Klaytn</label>
              </div>
        </fieldset>

        <br>
        <br>

        <fieldset>
            <legend>Select a category to analyse NFTs:</legend>
        
            <div>
              <input type="radio" id="art" name="category" value="Art"
                     checked>
              <label for="art">Art</label>
            </div>
        
            <div>
              <input type="radio" id="new" name="category" value="New">
              <label for="new">New</label>
            </div>
        
            <div>
              <input type="radio" id="collect" name="category" value="Collectibles">
              <label for="collect">Collectibles</label>
            </div>

            <div>
                <input type="radio" id="music" name="category" value="Music">
                <label for="music">Music</label>
              </div>

              <div>
                <input type="radio" id="sports" name="category" value="Sports"
                       checked>
                <label for="sports">Sports</label>
              </div>
          
              <div>
                <input type="radio" id="domains" name="category" value="Domain Names">
                <label for="domains">Domain Names</label>
              </div>
          
              <div>
                <input type="radio" id="worlds" name="category" value="Virtual Worlds">
                <label for="worlds">Virtual Worlds</label>
              </div>
  
              <div>
                  <input type="radio" id="cards" name="category" value="Trading Cards">
                  <label for="cards">Trading Cards</label>
                </div>

              <div>
                  <input type="radio" id="utility" name="category" value="Utility">
                  <label for="utility">Utility</label>
              </div>

              <div>
                  <input type="radio" id="photo" name="category" value="Photography">
                  <label for="photo">Photography</label>
              </div>

        </fieldset>
        
        <br>
        <br>

        <!--<label> Category</label>
        <input type="text" name="category" id="category">
        <br>-->
        <input type="submit" value="Run NFT Analysis">

    </form> 
    {% if chain %}
      <h2> You've chosen {{category}} category from {{chain}} blockchain </h2> 
      {% else %}
      <h2> Waiting for your response...</h2>
    {% endif %}
     <!--<h3> Loading your analysis... </h3> -->
    <!--<<p> {{nfts_selection}}</p> -->

    {% if nfts %}
    <table>
      <thead>
        <tr>
          <th>Collection</th>
          <th>24 hs %</th>
          <th>7 d %</th>
          <th>Owners</th>
          <th>Items</th>
          <th>Twitter followers</th>
          <th>Volume (USD) in M</th>
          <th>Floor (USD)</th>
          <th>Market Share %</th>
          <th>Growth</th>
          <th>Ownership Status</th>
          <th>Popularity</th>
          <th>Accesibility</th>
          <th>Gas Status</th>
          <th>Market Status</th>
          <th>Recommendation</th>
        </tr>
      </thead>
      <tbody>
    {% for dict in nfts %}
        <tr>
          <td>{{ dict['Collection'] }}</td>
          {% if dict['24 hs %'] <= 0 %}
            <td style="color:rgb(97, 4, 4);">{{ dict['24 hs %'] }}</td>
              {% else %}
              <td style="color:green;"><strong>{{ dict['24 hs %'] }}</strong></td>
          {% endif %}
          {% if dict['7 d %'] <= 0 %}
            <td style="color:rgb(97, 4, 4);">{{ dict['7 d %'] }}</td>
            {% else %}
            <td style="color:green;"><strong>{{ dict['7 d %'] }}</strong></td>
          {% endif %}
          <td>{{ dict['Owners'] }}</td>
          <td>{{ dict['Items'] }}</td>
          <td>{{ dict['Twitter followers'] }}</td>
          <td>{{ dict['Volume (USD) in M'] }}</td>
          <td>{{ dict['Floor (USD)'] }}</td>
          <td>{{ dict['Market Share %'] }}</td>
          <td>{{ dict['Growth'] }}</td>
          <td>{{ dict['Ownership Status'] }}</td>
          <td>{{ dict['Popularity'] }}</td>
          <td>{{ dict['Accesibility'] }}</td>
          <td>{{ dict['Gas Status'] }}</td>
          <td>{{ dict['Market Status'] }}</td>
          {% if dict['Recommendation'] == 'Highly recommended' %}
              <td style="color:green;"><strong>{{ dict['Recommendation'] }}</strong></td>
            {% elif dict['Recommendation'] == 'Give it a chance' %}
              <td style="color:rgb(90, 128, 0);">{{ dict['Recommendation'] }}</td>
              {% elif dict['Recommendation'] == 'Sligthly recommended' %}
              <td style="color:rgb(128, 126, 0);">{{ dict['Recommendation'] }}</td>
            {% else %}
            <td style="color:rgb(97, 4, 4);">{{ dict['Recommendation'] }}</td>
          {% endif %}
        </tr>
      {% endfor %}
    <tbody>
    </table>
      <!-- Include else here -->
      {% else %}
      <h3>Loading top 5 nfts...</h3>
      <!-- Be sure to close with an endif block -->
    {% endif %}
    
    
    
</body>

</html>