<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>NFT Analysis</title>
    <link rel="stylesheet" href="./static/css/main.css">
</head>
<body>

    <h1> &#128202 Get your estimations based on random tests! &#128202 </h1>
    <p class="subtitle">Understand what drives potential hot NFTs by running random tests on KPIs.</p>
    <ul>
      <li><a href="/overview"> Click here to have a quick overview of a category and chain. </a></li>
      <li><a href="/comparisons-categories"> Click here to compare 2 different categories based on their features. </a></li>
      <li><a href="/comparisons-chains"> Click here to compare 2 different chains based on their features. </a></li>
    </ul>
    <br>
              <form method = "POST">
        <!--<label> Chain</label>
        <input type="text" name="blockchain" id="chain">
        <br>-->

        <fieldset>
            <legend>Whice feature do you want to test?</legend>
        
            <div>
              <input type="radio" id="growth" name="feature" value="Growth"
                     checked>
              <label for="feature">Growth</label>
            </div>
        
            <div>
              <input type="radio" id="os" name="feature" value="Ownership Status">
              <label for="feature">Ownership Status</label>
            </div>
        
            <div>
              <input type="radio" id="pop" name="feature" value="Popularity">
              <label for="feature">Popularity</label>
            </div>

            <div>
                <input type="radio" id="acc" name="feature" value="Accesibility">
                <label for="feature">Accesibility</label>
              </div>

              <div>
                <input type="radio" id="gs" name="feature" value="Gas Status">
                <label for="feature">Gas Status</label>
              </div>

              <div>
                <input type="radio" id="ms" name="feature" value="Market Status">
                <label for="feature">Market Status</label>
              </div>

              <div>
                <input type="radio" id="reco" name="feature" value="Recommendation">
                <label for="feature">Recommendation</label>
              </div>
        </fieldset>

        <br>


        <!--<label> Category</label>
        <input type="text" name="category" id="category">
        <br>-->
        <input type="submit" value="Run NFT tests">

    </form> 
    {% if feature %}
      <h2> You've chosen {{feature}} </h2> 
      {% else %}
      <h2> Waiting for your response...</h2>
    {% endif %}
     <!--<h3> Loading your analysis... </h3> -->
    <!--<<p> {{nfts_selection}}</p> -->

    {% if nfts %}
    <h3>Running 10 random tests...</h3>
    <table>
      <thead>
        <tr>
          <th>7 d %</th>
          <th>Twitter followers</th>
          <th>Ownership %</th>
          <th>Floor (USD)</th>
          <th>Volume (USD) in M</th>
          <th>Market Share %</th>
        </tr>
      </thead>
      <tbody>
    {% for dict in nfts %}
        <tr>
          {% if dict['7 d %'] <= 0 %}
            <td style="color:rgb(97, 4, 4);">{{ dict['7 d %'] }}</td>
            {% else %}
            <td style="color:green;"><strong>{{ dict['7 d %'] }}</strong></td>
          {% endif %}
          <td>{{ dict['Twitter followers'] }}</td>
          <td>{{ dict['Ownership %'] }}</td>
          <td>{{ dict['Floor (USD)'] }}</td>
          <td>{{ dict['Volume (USD) in M'] }}</td>
          <td>{{ dict['Market Share %'] }}</td>
        </tr>
      {% endfor %}
    <tbody>
    </table>
    <br>
    <h3>Your accuracy score is {{ accuracy }}%</h3>
    <p>{{comments}}. Check results: </p>
      {% for result in results %}
        <p>- {{result}}</p>
      {% endfor %} 
      {% else %}
      <h3>Loading your tests...</h3>
      <!-- Be sure to close with an endif block -->
    {% endif %}
    
    
    
</body>

</html>